# Course - Exploratory Data Analysis

###### Author: Sana Rasheed
###### Student: Student_Name
###### Date: October 20, 2020 

##### NOTE: 
1. Enter student name and date to your exercise submission date in above.
2. Your code MUST execute without errors. 
3. You can add more lines in your code as required.

## Section 1: Summary Statistics

### Question 1 
**The dataset is loaded for you. Perform the following tasks:**  
1. Using the airquality dataset, generate the five-point summary through the appropriate function.  
2. Visualize the data for temperature through histogram. Add color and labels.  
3. Visualize the distribution of data for Wind. Add colors and labels.  
4. Visualize the relationship between Solar.R and Ozone. Use scatterplot and circular red markers to identify the points.

In [26]:
library(datasets)
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

### Good Job! You have completed this section!

## Section 2: Plotting Systems in R: Base, lattice, ggplot2

### Question 1
**The dataset is loaded for you. Perform the following tasks:**  
1. Using the state.x77 and state.region datasets, visualize the relationship between Income and illiteracy.  
2. Visualize the relationship between Population, region and life expectancy (Life.Exp).  
3. Export the charts to a pdf file.  

You can use either lattice or ggplot2 libraries to accomplish this task.

In [24]:
library(lattice)
library(ggplot2)

head(state.x77)
# head(state.region)

           Population Income Illiteracy Life Exp Murder HS Grad Frost Area
Alabama     3615      3624   2.1        69.05    15.1   41.3     20    50708
Alaska       365      6315   1.5        69.31    11.3   66.7    152   566432
Arizona     2212      4530   1.8        70.55     7.8   58.1     15   113417
Arkansas    2110      3378   1.9        70.66    10.1   39.9     65    51945
California 21198      5114   1.1        71.71    10.3   62.6     20   156361
Colorado    2541      4884   0.7        72.06     6.8   63.9    166   103766

### Question 2
**The dataset is loaded for you. Perform the following tasks:**  
1. Using the visualize the relationship between height and weight from the women dataset.  
2. Is there a strong correlation between the two quantities? Compute correlation coefficient and fit a linear regression model.  
3. Export the charts and results to a pdf file.

In [37]:
head(women)

  height weight
1 58     115
2 59     117
3 60     120
4 61     123
5 62     126
6 63     129

### Good Job! You have completed this section!

## Section 3: Aesthetics and Visuals of ggplot2

### Question 1
**The dataset is loaded for you. Perform the following tasks:**  
1. Using the longley dataset, plot the relationship between Umployed and GNP.  
2. As a scatter plot, plot out Unemployed values as blue dots and Employed values as green dots.  
3. Create a new variable as a column known as Armed.Forces.Unemployed.Rel. In it, place a Y for when the number of armed forces are greater than unemployed and N otherwise. Plot a graph to show the relationship between unemployed and armed forces and use the Armed.Forces.Unemployed.Rel for aesthetics and color.  

Add appropriate title, axis labels and charts for EACH of the above charts.  
You need to use ggplot2 to accomplish this task.

In [1]:
head(longley)

     GNP.deflator GNP     Unemployed Armed.Forces Population Year Employed
1947 83.0         234.289 235.6      159.0        107.608    1947 60.323
1948 88.5         259.426 232.5      145.6        108.632    1948 61.122
1949 88.2         258.054 368.2      161.6        109.773    1949 60.171
1950 89.5         284.599 335.1      165.0        110.929    1950 61.187
1951 96.2         328.975 209.9      309.9        112.075    1951 63.221
1952 98.1         346.999 193.2      359.4        113.270    1952 63.639

### Congratulations! You have successfully completed this course and practice exercises!